.admin h2{
    text-align: center;
    color: blueviolet;
}

.admin p{
    text-align: center;
}

.pages{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.pages a{
    text-decoration: none;
    color: blueviolet;
    height: 40px;
    text-align: start;
    font-size: 14px;
}

.pages a:hover{
    background-color: rgb(236, 235, 234);
}

mat-icon{
    vertical-align: middle;
    padding: 5px;
}