
<div class="admin">
    <img src="https://i.gifer.com/GEKm.gif" width="98%" alt="">
    <h2>Admin</h2>
    <p>Admin@gmail.com</p>
</div>

<mat-divider></mat-divider>

<div class="pages">
    <h3>Pages</h3>
    <a routerLink=""><mat-icon>home</mat-icon> Dashboard</a>
    <a routerLink="gallery"> <mat-icon>image</mat-icon>Gallery</a>
    <a routerLink="employees"><mat-icon>people</mat-icon>Employees</a>
</div>

<div class="pages">
    <h3>Tools</h3>
    <a routerLink="addEmployee"> <mat-icon>person_add</mat-icon> Add employee</a>
    <a routerLink="leads"> <mat-icon>person</mat-icon> Leads</a>
</div>
