<div class="card">
    <mat-card>
        <app-card bg="orange" icon="people" content="admissions" total="3000"></app-card>
    </mat-card>
    <mat-card>
        <app-card bg="green" icon="home" content="placements" total="2000"></app-card>
    </mat-card>
    <mat-card>
        <app-card bg="blue" icon="person" content="student" total="3000"></app-card>
    </mat-card>
    <mat-card>
        <app-card bg="red" icon="group" content="employee" total="100"></app-card>
    </mat-card>
    
</div>
<div class="areachart">
    <app-area-chart></app-area-chart>
</div>
<div class="tablenpiechart">
    <div class="table">
        <app-table></app-table>
    </div>
    <div class="pie-chart">
        <app-pie-chart></app-pie-chart>
    </div>
</div>
